table {
    width: 100%;
    border-collapse: collapse;
}

caption {
    font-size: 20pt;
    font-weight: bold;
}

th,
td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #36f1cd;
}

td.country {
    font-weight: bold;
}

td.checkmark {
    font-size: 30px;
    padding: 0px;
}

td.crossmark {
    font-size: 40px;
}
