body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    /* to make screen take full size */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*https://www.w3schools.com/cssref/css_units.php */
}

main {
    /* make main section take full screen */
    flex-grow: 1;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#headerText {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

#subtext {
    color: #555;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #007acc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
